/* importing fot from google fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{

    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 80%, rgba(252,70,107,1) 140%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

ul{
    list-style: none;
}

.heading{
    font-size: 2rem;
    text-align: center;
    color: #fff;
    margin: 80px 0px 0px 0px;

}

.heading .pro-heading{
    color:white;
}

.container{
    width: 80%;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgb(228, 228, 228);
    margin: 30px auto;

}

img {
    max-width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin: 20px 50px;
}

.search-bar{
    display: flex;
    border: 1px solid black;
    padding: 2px 0px 2px 10px;
    border-radius: 50px;
}

input{
    width:300px;
    border: none;
}

.btn-search {
    padding: 10px;
    background: #fc466b;
    border-radius: 30px;
    color: white;
    margin: 0px 10px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.fav-container h3{
    text-align: center;
    margin: 15px 0px;
}

.fav-meals{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px 0px;
    background: #d3ecf7;

}

.fav-meals li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.fav-meals li img{
    border-radius: 50%;
    width: 100px;
    min-width: 100px;
    border: 5px solid #fc466b;
    object-fit: cover;
}

.meal-header img{
    width: 100%;
    object-fit: cover;
    height: 500px;
    border-radius: 10px;
}



.meal {
    margin: 30px;
}

.meal-header{
    position: relative;
}

.random{
    position: absolute;
    background: white;
    top: 41px;
    padding: 5px 10px;
    color: #ef4775;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
}

.heart{
    position: absolute;
    background: white;
    top: 41px;
    right: 0;
    padding: 5px 10px;
    color: #ef4775;
    font-weight: bold;
    border-radius:  50% 0px  0px 50%;
}
